<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Głowna strona sklepu</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Głowna strona sklepu</h1>

<button onclick="window.location.href='/warehouse'">Magazyn</button>

  <h2>Lista produktów</h2>
  <table>
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Cena</th>
        <th>Ilość</th>
      </tr>
    </thead>
    <tbody id="mainProducts"></tbody>
  </table>

  <script>
    const apiUrl = '/products';

    async function fetchMainProducts() {
      const res = await fetch(apiUrl);
      const products = await res.json();
      const tbody = document.getElementById('mainProducts');
      tbody.innerHTML = '';
      products.forEach(p => {
        const row = document.createElement('tr');
        row.innerHTML = `
          <td>${p.name}</td>
          <td>${p.price} zł</td>
          <td>${p.quantity}</td>
        `;
        tbody.appendChild(row);
      });
    }

    fetchMainProducts();
  </script>
</body>
</html>
