<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>CRUD Sklep-internetowy</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Sklep z towarami</h1>

  <button onclick="window.location.href='/logout'" class="navigate">Wyloguj</button>

  <div class="add-product-container">
    <h2>Dodaj produkt</h2>
    <div class="add-product">
      <div class="form-group">
        <input id="name" placeholder="Nazwa">
        <div id="error-name" class="field-error"></div>
      </div>

      <div class="form-group">
        <input id="category" placeholder="Kategoria">
        <div id="error-category" class="field-error"></div>
      </div>

      <div class="form-group">
        <input id="price" placeholder="Cena" type="number">
        <div id="error-price" class="field-error"></div>
      </div>

      <div class="form-group">
        <input id="quantity" placeholder="Ilosc" type="number">
        <div id="error-quantity" class="field-error"></div>
      </div>

      <div class="form-group">
        <input id="date_added" placeholder="Data (YYYY-MM-DD)">
        <div id="error-date_added" class="field-error"></div>
      </div>

      <div class="form-group">
        <button onclick="addProduct()">Dodac</button>
      </div>
    </div>
  </div>

  <h2>Lista produktów</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th><th>Nazwa</th><th>Kategoria</th><th>Cena</th><th>Ilość</th><th>Data</th><th>Dzialania</th>
      </tr>
    </thead>
    <tbody id="productsTable"></tbody>
  </table>

  <script src="{{ url_for('static', filename='warehouse.js') }}"></script>
</body>
</html>
